@{
    ViewData["Title"] = "Home Page";
}

@if (TempData["Message"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Successful Registration!</strong> @TempData["Message"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div> 
}

<div class="row">
    <div class="col-md-6 col-sm-6">
        In Steve's Virtual World, you can lose yourself in all the games we have here.
    </div>
    <div class="col-md-3 col-sm-6">
        We hold many game consoles, wether it be Nintendo products, Microsoft or Sony. For all you VR lovers out there
        we also have top of the line VR headsets.
    </div>
    <div class="col-md-3 col-sm-6">
        On top of consoles we also sell many games for the different consoles. We have family friendly games, FPS's, and
        also gore filled horror games. We also have strategy games of all times for you smart gamers out there.
    </div>
</div>

<button class="btn btn-primary" >Primary</button>
<button class="btn btn-danger">Danger</button>
<button class="btn btn-success">Success</button>
<a class="btn btn-secondary" href="https://google.com">
    Google It!
</a>