@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-4">Featured Games</h1>
    <p class="lead">
        In Steve's Virtual World, we have many different types of video games to choose from,
        ranging from your classics, to the games very recently released. We have Indie games and Triple A games.
        We just have all sorts of games!
        Be sure to check out our privacy policy!
    </p>
    <hr class="my-4"/>
    <p>Take a peek at our featured games using the link below!</p>
    <a class="btn btn-primary btn-lg" href="~/Library/" role="button">Game Library</a>
</div>