@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    This is an in class example. I don't really have the skills to track your data or do anything malicious with it... for now.
</p>
