@model VideoGame
@{
    ViewData["Title"] = "Add a new game";
}

<h1>Add a new game</h1>

<form method="post" asp-action="">
    <div class="form-row">
        <div class="col">
            <input asp-for="Title" class="form-control" placeholder="Title" />
            <span asp-validation-for="Title"></span>
        </div>

        <div class="col">
            <input asp-for="Rating" class="form-control" placeholder="Rating" />
            <span asp-validation-for="Rating"></span>
        </div>

    </div>
    <br />

    <input asp-for="Description" class="form-control" placeholder="Description" />
    <span asp-validation-for="Description"></span>
    <br />
    <div class="form-row">
        <div>
            <input asp-for="Price" class="form-control" placeholder="Price" />
            <span asp-validation-for="Price"></span>
        </div>
    </div>
    <br />
    <input type="submit" value="Add Game" />
</form>

@*
    Add reference to jquery validation which does client validation    
*@
<partial name="_ValidationScriptsPartial" />

